{% comment %}
  Product price snippet
{% endcomment %}

<div class="card-product__price">
  {% if product.compare_at_price > product.price %}
    <span class="price-sale">
      {{ product.price | money }}
    </span>
    <span class="price-compare">
      {{ product.compare_at_price | money }}
    </span>
  {% else %}
    <span class="price-regular">
      {{ product.price | money }}
    </span>
  {% endif %}
</div>
