<h3>footer here</h3>

{% schema %}
{
    "name" : "Footer",
    "settings": [
        {
        "type" : "text",
           "id": "logo",
      "label": "Logo"
        },
    ],
    "presets": [
        {
         "name": "Footer",
      "category": "Footer"
    }
    ]

}

{% endschema %}