
h1{
    font-family: var(--font-heading-h1);
    font-weight: var(--font-weight-h1);
    text-transform: var(--heading-text-transform);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    word-break: break-word;
}


.shopify-section-group-header-group[data-sticky="true"] {
    position: sticky;
    top: 0;
    z-index: 4;
}

.site-header[data-sticky="true"] {
    position: sticky;
    top: 0;
    z-index: 4;
}

