
.promo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
}

.promo-item {
      position: relative;
    
    height: 280px;

    background-color: #f4f4f4;
}

.promo-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promo-content-wrapper {
     position: absolute;
    bottom: -10px;
    right: -7px;
       width: 256px;
    height: 104px;
    z-index: 2;
}

.promo-content-box {
  background-color: #1a202c; 
  padding: 20px;
  color: white;
}

.promo-heading {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
}

.promo-text {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #cbd5e0;
}

.promo-bottom-bar {
  height: 10px;
  background-color: var(--color-secondary );
  width: 100%;
}

.promo-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}


@media screen and (max-width: 749px) {
  .promo-grid-container {
    grid-template-columns: 1fr; 

  }
  
  .promo-item {
    height: 300px;
  }
  
  
}
